- if edit?
  = cell ('user/cell/edit_options'), model, obj: obj, size: size
- else
  .col-sm-2
.col-sm-8.text-center
  h2 = obj[:title]
  . style="width:100%;"
    canvas id= chart_id style:"-moz-user-select: none; -webkit-user-select: none;-ms-user-select: none;"
  br
.col-sm-2


javascript:

  function collectData(){
    var ctx = document.getElementById('#{chart_id}').getContext("2d");

    var time_format = #{time_format}
    var x_time = #{x_time?}
    var x = #{x}
    var x_type = #{x_type}
    var x_label = #{x_label.inspect}

    var colour_vo2max = #{colour_vo2max}
    var vo2_max_starts = #{vo2_max_starts}
    var vo2_max_ends = #{vo2_max_ends}
    var vo2_max_value = #{vo2_max_value}
    var show_vo2max = #{show_vo2max}

    var colour_exer = #{colour_exer}
    var exer_phase_starts = #{exer_phase[0]}
    var exer_phase_ends = #{exer_phase[1]}
    var y_exer_phase = #{y_exer_phase}
    var show_exer = #{show_exer}

    var at_value = #{at_value}
    var show_AT = #{show_AT}
    var at_colour = #{at_colour}

    var generate_param_1 = #{generate_param_1}
    var colour_1 = #{colour_1}
    var label_1 = #{label_1}
    var y1 = #{y1}
    var show_scale_1 = #{show_scale_1}

    var generate_param_2 = #{generate_param_2}
    var colour_2 = #{colour_2}
    var label_2 = #{label_2}
    var y2 = #{y2}
    var show_scale_2 = #{show_scale_2}

    var generate_param_3 = #{generate_param_3}
    var colour_3 = #{colour_3}
    var label_3 = #{label_3}
    var y3 = #{y3}
    var show_scale_3 = #{show_scale_3}
  }

script src="/js/generate_chart.js" type="text/javascript"
