body
  . style="width:80%; margin-left: 10%;"
    canvas id= chart_id style:"-moz-user-select: none; -webkit-user-select: none;-ms-user-select: none;"
  br

javascript:
  var color = Chart.helpers.color;

  // get time format
  function getTimeString(time) {
    return moment(time, 'mm:ss');
  }

  //generate obj to use in the scatter chart
  function getDataSet(time, yArray) {
    var array_size = yArray.length - 1;
    var data = new Array();
    for(var i=0;i < array_size; i++) {
      var obj = {
                  x: getTimeString(time[i]),
                  y: yArray[i]
                };
      data.push(obj);
    }
    return data;
  }

  var ctx = document.getElementById('#{chart_id}').getContext("2d");

  // set time option in case x is a time scale
  function getTimeOptions(time_type){
    var time_options = { unit: 'minute', displayFormats: { 'second': 'mm:ss', 'minute': 'mm:ss'},tooltipFormat: "mm:ss" };

    if(time_type == 'time'){
      return time_options;
    }
  }

  // draw a line to show the VO2max line if required
  function drawVO2max(){
   var vo2_max = {
                      borderColor: "#000000",
                      backgroundColor: "#000000",
                      fill: false,
                      label: 'VO2 Max',
                      data:[{
                              x: getTimeString(#{vo2_max_starts}),
                              y: #{vo2_max_value}
                            },
                            {
                              x: getTimeString(#{vo2_max_ends}),
                              y: #{vo2_max_value}
                            }
                            ]
                    };
    return vo2_max;

  }

  // draw a line to show the VO2max line if required
  function drawExerPhase(){
    var exer_phase = {
                      backgroundColor: 'rgba(251, 85, 85, 0.4)',
                      label: 'Exercise Phase',
                      pointRadius: 0,
                      data:[{
                              x: getTimeString(#{exer_phase[0]}),
                              y: #{y_exer_phase}
                            },
                            {
                              x: getTimeString(#{exer_phase[1]}),
                              y: #{y_exer_phase}
                            }
                            ]
                    };
    return exer_phase;
  }

  // draw the line for the AT if required
  function drawAT(bool){
   var at_line = getTimeString(#{at_value});

    if (bool){
      return at_line;
    }else{
      return 0;
    }
  }

  // generate the data array to pass to Chart
  function dataSet(vo2, exer){
    var dataset = new Array();
    if(vo2){
      dataset.push(drawVO2max());
    }
    var test = window.chartColors.blue;

    if(#{generate_param_1}){
      param1 = {
                  xAxisID: "x-axis-0",
                  yAxisID: "y-axis-1",
                  backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.blue,
                  fill: false,
                  label: #{label_1},
                  data: getDataSet(#{x}, #{y1})
                };
      dataset.push(param1);
    }

    if(#{generate_param_2}){
      param2 = {
                  xAxisID: "x-axis-0",
                  yAxisID: "y-axis-2",
                  backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.red,
                  fill: false,
                  label: #{label_2},
                  data: getDataSet(#{x}, #{y2})
                };
      dataset.push(param2)
    }

    if(#{generate_param_3}){
      param3 = {
                  xAxisID: "x-axis-0",
                  yAxisID: "y-axis-3",
                  backgroundColor: color(window.chartColors.orange).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.orange,
                  fill: false,
                  label: #{label_3},
                  data: getDataSet(#{x}, #{y3})
                };
      dataset.push(param3)
    }

    if(exer){
      dataset.push(drawExerPhase());
    }
    return dataset;
  }

  // get y scale options
  function  getYaxisOptions(){
    scale = new Array();

    if(#{generate_param_1}){
      y1_scale = {
                  type: "linear",
                  display: #{show_scale_1},
                  position: "left",
                  id: "y-axis-1",
                  scaleLabel: {
                                display: true,
                                labelString: #{label_1},
                              },
                  };
      scale.push(y1_scale);
    }


    if(#{generate_param_2}){
      y2_scale = {
                  type: "linear",
                  display: #{show_scale_2},
                  position: "right",
                  id: "y-axis-2",
                  scaleLabel: {
                                display: true,
                                labelString: #{label_2},
                              },
                  gridLines: {
                    drawOnChartArea: false,
                    }
                  };
      scale.push(y2_scale);
    }

    if(#{generate_param_3}){
      y3_scale = {
                  type: "linear",
                  display: #{show_scale_3},
                  position: "right",
                  id: "y-axis-3",
                  scaleLabel: {
                                display: true,
                                labelString: #{label_3}
                              },
                  gridLines: {
                    drawOnChartArea: false,
                    }
                  };
    scale.push(y3_scale);
    }


    return scale;
  }

  var config = {
                type: 'line',
                data: {
                    datasets: dataSet(false,true),
                    lineAtValue: drawAT(true)
                },

                options: {
                  responsive: true,
                  title : {
                    display: true,
                    text: #{title}
                  },


                  scales: {
                      yAxes: getYaxisOptions(),
                      xAxes: [{
                                type: #{x_type},
                                time: getTimeOptions(#{x_type}),
                                position: 'bottom',
                                scaleLabel: {
                                  display: true,
                                  labelString: #{x_label.inspect}
                                },
                              }]
                          },

                  legend: {
                    display: true,
                    position: 'top'
                  }
                }
              }

  window.myLine = new Chart(ctx, config);

