- if edit?
  = cell ('user/cell/edit_options'), model, obj: obj, size: size
- else
  .col-sm-2
.col-sm-8.text-center
  h2 = obj[:title]
  .row style="margin: 20px; font-size: 20px;"
    table id="training_zones_#{obj[:index]}" class="display training_zones" width="100%"

javascript:
  var table;

  $(document).ready(function() {
    let table = $('#training_zones_#{obj[:index]}').DataTable( {
      searching: false,
      paging: false,
      bInfo: false,
      data: [#{data}],
      "columnDefs": [
        {"className": "dt-center", "targets": 1},
        {"className": "dt-center", "targets": 2},
        {"width": "1%", "visible": false, "targets": 0 },
        {"orderable": false, "targets": 1, "sClass": "first_column" },
        {"orderable": false, "targets": 2 }
      ],
      "createdRow": function( row, Data, dataIndex ) {
          if( dataIndex == 0 || dataIndex == 4){
            $(row).addClass( "first_column" );
          }

          if( dataIndex < 4){
            $(row).addClass( "green" );
          }

          if( dataIndex > 3){
            $(row).addClass( "red" );
          }
        }
    } );
  });
