.row
  .col-sm-12 class="user"
    h3 Subjects Database (#{total})
hr style="margin-top: 0px;"

.row style="margin: 20px;"
  = create_subject if total == 0
  table id="subjects" class="display" width="100%"

javascript:
  var table;

  $(document).ready(function() {
    table = $('#subjects').DataTable( {
      data: [#{subject_array}],
      "columnDefs": [
        {"width": "1%", "orderable": false, "targets": 0 },
        {"visible": false, "targets": 1},
        {"width": "1%", "orderable": false, "targets": 7 },
        {"width": "1%", "orderable": false, "targets": 8 },
        {"width": "1%", "orderable": false, "targets": 9 }
      ],
      columns: [
        {
          "className":      'details-control',
          "orderable":      false,
          "defaultContent": ''
        },
        { title: "id" },
        { title: "Firstname" },
        { title: "Lastname" },
        { title: "Date of Birth" },
        { title: "Height " + "(#{um_height})" },
        { title: "Weight " + "(#{um_weight})" },
        { title: "" },
        { title: "" },
        { title: "" }
      ],
      "order": [[ 3, "asc" ]]
    } );
  });

  // Add event listener for opening and closing details
  $('#subjects').on('click', 'td.details-control', function () {
    var tr = $(this).closest('tr');
    var row = table.row(tr);

    if (row.child.isShown()) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
    } else {
        // Open this row
        //row.child( format(row.data())).show();
        format(row);
        tr.addClass('shown');
    }
  });

  function format (row) {
    var row_data = row.data();
    var form = new FormData();
    form.append("id", row_data[1]);
    $.ajax({
      url: "/subjects/get_reports",
      type: "POST",
      data: form,
      processData: false,
      contentType: false,
      complete: function(response){
        var data = JSON.parse(response.responseText);
        var thead = '',  tbody = '';
        var some = data[0];
        for(var key in data[0]){
          thead += '<th>' + key + '</th>';
        }

        $.each(data, function(i,d){
          tbody += '<tr><td>' + d.Created + '</td><td>' + d.Title + '</td></tr>';
        })

        row.child($('<table>' + thead + tbody + '</table>')).show();
      }

    });

  }
