.row style="margin: 20px;"
  table id="subjects" class="display" width="100%"

javascript:
  var table;

  $(document).ready(function() {
    table = $('#subjects').DataTable( {
      data: [#{subject_array}],
      columns: [
        { title: "Firstname" },
        { title: "Lastname" },
        { title: "Date of Birth" },
        { title: "Height" },
        { title: "Weight" },
        { title: "" }
      ],
      "columnDefs": [
        {"width": "1%", "orderable": false, "targets": 5}
      ]
    } );
  });
